<taj-search [reservationDates]="reservationDates"></taj-search>
<div class="container-fluid main-container">
  <div class="col-md-2 sidebar">
    <h2>Filter Hotels</h2>
    <ul class="nav nav-pills nav-stacked">
      <li>
        <label>Name</label>
        <input tajFilterHotels filterProperty="name" filterType="inputText" />
      </li>
      <li>
        <label>Price</label>
        <md-slider thumbLabel *ngIf="hotelsPrices" [min]="hotelsPrices.min" [max]="hotelsPrices.max" [value]="hotelsPrices.max" step="5"
          tajFilterHotels filterProperty="reservationPrice" filterType="mdSlider"></md-slider>
      </li>
    </ul>
  </div>
  <aside class="col-lg-4 side-bar col-md-12">
    <ul class="nav nav-tabs">
      <li class="nav-item"> <button tajSortHotels sortProperty="price" class="btn btn-default" type="submit">Prices<i  class="glyphicon"></i></button></li>
      <li class="nav-item"> <button tajSortHotels sortProperty="name" class="btn btn-default" type="submit">Name<i  class="glyphicon"></i></button></li>
    </ul>
  </aside>
  <div class="col-md-10 content">
    <h2>Total Nights {{totalNights}}</h2>
    <div *ngFor="let hotel of hotels">
      <div class="col-md-4" *ngIf="hotel.display !== false">
        <div class="panel panel-default">
          <div class="panel-heading">
            {{hotel.name}}
          </div>
          <div class="panel-body">
            <div>Price: {{hotel.reservationPrice | number:'1.0-1'}} AED</div>
            <div>City: {{hotel.city}}</div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="hotels.length === 0">
      <div class="alert alert-danger">
        No available hotels in the provided dates
      </div>
    </div>
  </div>
</div>