<nav class="navbar navbar-default navbar-static-top">
  <div class="collapse navbar-collapse">
    <form class="navbar-form navbar-left" role="search" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="startDate">Check-in</label>
        <input [(ngModel)]="reservationDates.startDate" [min]="minDate" id="startDate" name="startDate" mdInput [mdDatepicker]="startDate"
          placeholder="Choose a date">
        <md-datepicker-toggle mdSuffix [for]="startDate"></md-datepicker-toggle>
        <md-datepicker #startDate></md-datepicker>
      </div>
      <div class="form-group">
        <label for="endDate">Check-out</label>
        <input [(ngModel)]="reservationDates.endDate" [min]="reservationDates.startDate" id="endDate" name="endDate" mdInput [mdDatepicker]="endDate"
          placeholder="Choose a date">
        <md-datepicker-toggle mdSuffix [for]="endDate"></md-datepicker-toggle>
        <md-datepicker #endDate></md-datepicker>
      </div>

      <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
    </form>
  </div>
</nav>